{% extends "main.twig" %}
{% set showSlider = true %}

{% block css %}

    <!-- Mobile menu -->
    <link href="css/gozha-nav.css" rel="stylesheet"/>
    <!-- Select -->
    <link href="css/external/jquery.selectbox.css" rel="stylesheet"/>

{% endblock %}


{% block content %}
    <div class="movie-best">
        <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
        <div class="col-sm-12 change--col">
            <div class="movie-beta__item ">
                <img alt='' src="http://placehold.it/380x600">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-full.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item second--item">
                <img alt='' src="http://placehold.it/380x600">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-full.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item third--item">
                <img alt='' src="http://placehold.it/380x600">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-full.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item hidden-xs">
                <img alt='' src="http://placehold.it/380x600">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-full.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item hidden-xs hidden-sm">
                <img alt='' src="http://placehold.it/380x600">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-full.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item hidden-xs hidden-sm">
                <img alt='' src="http://placehold.it/380x600">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-full.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
    </div>

    <div class="clearfix"></div>

    <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8 col-md-12">
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">Gravity (2013) </a>

                        <p class="movie__time">91 min</p>

                        <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a
                                    href="#">Drama</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">4.1</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">The Hobbit: The Desolation of Smaug
                            (2013) </a>

                        <p class="movie__time">169 min</p>

                        <p class="movie__option"><a href="#">Adventure</a> | <a href="#">Fantasy</a> | <a
                                    href="#">Drama</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">5.0</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">The Hunger Games: Catching Fire (2013) </a>

                        <p class="movie__time">146 min</p>

                        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a
                                    href="#">Sci-Fi</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">4.9</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">Thor: The Dark World (2013) </a>

                        <p class="movie__time">112 min</p>

                        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a>
                        </p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">5.0</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">World War Z (2013) </a>

                        <p class="movie__time">116 min</p>

                        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a
                                    href="#">Horror</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">4.1</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">Prisoners (2013) </a>

                        <p class="movie__time">153 min</p>

                        <p class="movie__option"><a href="#">Crime</a> | <a href="#">Thriller</a> | <a
                                    href="#">Drama</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">5.0</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">This Is the End (2013) </a>

                        <p class="movie__time">107 min</p>

                        <p class="movie__option"><a href="#">Comedy</a> | <a href="#">Fantasy</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">4.9</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="http://placehold.it/424x424">
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-full.html' class="movie__title">The Internship (2013) </a>

                        <p class="movie__time">112 min</p>

                        <p class="movie__option"><a href="#">Comedy</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">5.0</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->

            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-1.10.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="js/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Stars rate -->
    <script src="js/external/jquery.raty.js"></script>

    <!-- Form element -->
    <script src="js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="js/form.js"></script>

    <!-- Twitter feed -->
    <script src="js/external/twitterfeed.js"></script>

    <!-- Custom -->
    <script src="js/custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            init_Home();
        });
    </script>
{% endblock %}
